body {
    background-color: black;
}

h1 {
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
.scanning_gif_div {
    height: 600px;
    display: grid;
    justify-content: center;
}

.scanning_gif {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

.NHS_quote {
    display: grid;
    justify-content: center; 
}